body {
  background-color: #EFDD61;
  padding-top: 30px;
}
.aside {
  height: 400px;
}
.main {
  height: 400px;
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.gray {
  color: #35AFE8;
}
.task-title--done {
  text-decoration: line-through;
  color: #D7D7D5;
}
.task-item_buttons button {
  margin-right: 5px;
  float: left;
}
.task-item_buttons button:last-child {
  margin-right: 0px;
}
.notify-holder {
  height: 60px;
  /*background-color: #F8D7DA;*/
  margin-bottom: 20px;
  border-radius: 5px;
}
