body {
	background-color: #EFDD61;
	padding-top: 100px;
}

.aside {
	// background-color: #EFDD61;
	height: 400px;
}

.main {
	// background-color: #35AFE8;
	height: 400px;
}

.d-flex {
	display: flex;
}

.task-title {
	font-weight: 400;
	padding-top: 5px;
}

.gray {
color: #35AFE8;

}
.task-title--done {
text-decoration: line-through;
color: #D7D7D5;

}
.task-item_buttons button {
margin-right: 5px;
float: left;
	&:last-child {
		margin-right: 0;
	}

}